<header class="container-fluid bg-primary text-white p-3 text-center ">
  <h1>Rezepte</h1>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRecipe">
    Launch demo modal
  </button>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeRecipe">
    Launch demo modal
  </button>
  </button>
  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">Logout</button>
  </form>
</header>